* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner5 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)), url(./backyard\ image.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px 0px 0px 2px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.logo5{
    width: 100px;
    cursor: pointer;
    background-color: #ffff;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    transition: 0.5s;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.navbar ul li :hover::after{
    width: 100%;
}