* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)), url(background.jpg.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px 0px 0px 2px;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
    background-color: #ffff;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    transition: 0.5s;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.navbar ul li :hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translate(-50%);
    text-align: right;
    color: #ffff;
    margin: 0px 0px 0px 340px;
    font-size: 200%;
}
.content h1{
    font-size: 240%;
    text-align: right;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 120%;
}
button{
    width: 20%;
    padding: 25px 0;
    text-align: center;
    margin: 20px 260px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    color: #ffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: large;
}
span{
    background: #336661;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.image{
   display: flex; 

}
.img1{
    width: 320px;
    height: 100%;
    margin: 30px 0px 0px 15px;
    border-radius: 15%;
}
.img2{
    width: 320px;
    height: 320px;
    margin: 30px 0px 0px 25px;
    border-radius: 15%;
}
.content2{
    position: absolute;
    margin: 370px auto auto 0px;
}
.content2 h2{
    font-weight: bold;
    margin: 10px 0px 0px 35px;
}
.content2 p{
    color: rgb(193, 192, 192);
    margin: 10px 0px 0px 35px;
}
.content3{
    position: absolute;
    margin: 372px 0px 0px 330px;
}
.content3 h2{
    font-weight: bold;
    margin: 10px 0px 0px 35px;
}
.content3 p{
    color: rgb(193, 192, 192);
    margin: 10px 0px 0px 35px;
}
.content4 h2{
    width: 100%;
    height: 80%;
    font-size: 320%;
    margin: 40px 0px 0px 35px;
}
.content4 p{
    width: 100%;
    height: 80%;
    font-size: 85%;
    margin: -210px 0px 0px 5px;
    color: #A4A4A4;
    font-weight: bold;
}
.content4{
    border: 5px solid rgb(156, 38, 38);
    border-radius: 15%;
    margin: 27px 0px -150px 20px;
    
}
.img4{
    width: 320px;
    height: 320px;
    margin: 30px 0px 0px 25px;
    border-radius: 15%;
}
.content5{
    position: absolute;
    margin: 372px 0px 0px 670px;
}
.content5 h2{
    font-weight: bold;
    margin: 10px 0px 0px 35px;
}
.content5 p{
    color: rgb(193, 192, 192);
    margin: 10px 0px 0px 35px;
}